parametersSchema:
    icuParser: structure([
        enabled: bool(),
        paths: arrayOf(string()),
        defaultLocale: string(),
        defaultDomain: string(),
        cacheDir: string()
    ])

parameters:
    icuParser:
        enabled: true
        paths:
            - translations
        defaultLocale: 'en'
        defaultDomain: 'messages'
        cacheDir: .cache/icu-parser

services:
    -
        class: IcuParser\Bridge\PHPStan\IcuMessageFormatRule
        arguments:
            enabled: %icuParser.enabled%
            paths: %icuParser.paths%
            defaultLocale: %icuParser.defaultLocale%
            defaultDomain: %icuParser.defaultDomain%
            cacheDir: %icuParser.cacheDir%
        tags:
            - phpstan.rules.rule
